<h1>Please fill the following to add a new interview:</h1>
<form method="POST" action="/interviews">
  <label class="new-text" for="company">Company:</label>
  <input class="form-input" type="text" name="company" required>

  <label class="form-text" for="position">Position:</label>
  <input class="form-input" type="text" name="position" required>

  <label class="new-text" for="date">Date of Interview:</label>
  <input class="form-input" type="date" name="date" required>

  <label class="new-text" for="time">Time of Interview:</label>
  <input class="form-input" type="time" name="time" required>

  <label class="new-text" for="location">Address of Interview:</label>
  <input class="form-input" type="text" name="location" required>

  <label class="new-text" for="notes">Anything to Note:</label>
  <textarea class="form-input" name="notes"></textarea>

  <input type="submit" value="Add Interview">
</form>