<header>
  <h1>Add Application</h1>
  <h2>Please fill the following to add a new application:</h2>
</header>

<form method="POST" action="/applications">
  <label class="new-text" for="company">Company:</label>
  <input class="form-input" type="text" name="company" required>

  <label class="form-text" for="position">Position:</label>
  <input class="form-input" type="text" name="position" required>

  <label class="new-text" for="date">Date when Applied:</label>
  <input class="form-input" type="date" name="date" required>

  <label class="new-text" for="status">Status of Application:</label>
      <select name="status" id="status-box">
          <option value="Pending" selected>Pending</option>
          <option value="Interview to be scheduled">Interview to be Scheduled</option>
          <option value="Scheduled Interview">Interview Scheduled</option>
      </select>

  <input type="submit" value="Add Application">
</form>