$colors: (
    nav-bg: #30A488,
    nav-text: #FFFFFF,
    box-bg: #F8F8F8,
    bg: #E5E5E5
);

@function color($color-type) {
    @return map-get($colors, $color-type);
}

* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    font-size: 1.5em;
    background: color(nav-bg);
}

.nav-bar-link {
    text-decoration: none;
    text-align: center;
    align-items: center;
    line-height: 50px;
    padding: .75em;
    color: color(nav-text);
}

body {
    background-color: color(bg);
}

.welcome-info {
    text-align: center;
    padding-top: 2em;

    h1 {
        font-size: 4em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    p {
        font-size: 2em;
        width: 65%;
        margin: 1em auto;
    }

    #sign-up-button {
        background: #2ED16F;
        color: black;
        font-size: 1.75em;
        padding: 1em;
        margin: 1em 0;
        display: inline-block;
        border-radius: 18px;
        text-decoration: none;
    }
}


