$colors: (
    nav-bg: #30A488,
    nav-text: #FFFFFF,
    box-bg: #F8F8F8,
    bg: rgba(45, 180, 155, 0.212)
);

@function color($color-type) {
    @return map-get($colors, $color-type);
}

* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

#nav-bar {
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
    flex-direction: row;
    list-style: none;
    margin: 0;
    font-size: 1.25em;
    background: color(nav-bg);
}

.nav-bar-link {
    text-decoration: none;
    text-align: center;
    align-items: center;
    line-height: 45px;
    padding: .75em;
    color: color(nav-text);
}

body {
    background-color: color(bg);
}

// Footer Style
body::after {
    content: '';
    display: block;
    height: 50px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: color(nav-bg);
    color: color(nav-text);
    align-content: center;

    p {
        font-size: 1em;
        padding-left: 2em;
    }
  }