<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobservation</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/layout.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
</head>
<body>   

  <nav>
    <ul id="nav-bar">
      <li>
        <a href="/" class="nav-bar-link">Home</a>
      </li>

      <li>
          <a href='/sign-up' class="nav-bar-link">Sign Up</a>
      </li>

      <li>
        <a href="/login" class="nav-bar-link">Login</a>
      </li>
    </ul>
  </nav>

    <%= yield %>

  <footer>
      <p>Jobservation 2020</p>
  </footer> 
</body>
</html>