<div class="login-box">
  <h1 id="login-welcome">Welcome Back!</h1>

  <div class="login-form">
      <form action="/login" method="POST">
          <p class="login-text">Email:</p>
          <input class="input-box" type="email" name="email" required>

          <p class="login-text">Password:</p>
          <input class="input-box" type="password" name="password" required>

          <input type="submit" value="Login">
      </form>
  </div>
</div>