<div class="sign-up-box">
  <h1>Welcome!</h1>
  <h2>Please fill out the following:</h2>

  <div class="sign-up-form">
      <form action="/sign-up" method="POST">
          <p class="sign-up-text">Name:</p>
          <input id="input-box" type="text" name="name" required>

          <p class="sign-up-text">Email:</p>
          <input class="input-box" type="email" name="email" required>
          
          <p class="sign-up-text">Password:</p>
          <input class="input-box" type="password" name="password" required>

          <input type="submit" value="Sign Up">
      </form>
  </div>
</div>